---
apiVersion: v1
kind: Pod
metadata:
  name: flipkart
spec:
  containers:
    - name: login
      image: ubuntu
      command: ["/bin/bash", "-c", "while true; do echo am login; sleep 2; done"]

# commands:
# kubectl apply -f pod.yml
# kubectl get pods
# kubectl get pods -o wide
# kubectl describe pod flipkart
# kubectl logs flipkart
# kubectl logs -f flipkart
# kubectl delete -f pod.yml
# =============================================

---
apiVersion: v1
kind: Pod
metadata:
  name: flipkart
spec:
  containers:
    - name: login
      image: ubuntu
      command: ["/bin/bash", "-c", "while true; do echo am login; sleep 2; done"]
    - name: home
      image: ubuntu
      command: ["/bin/bash", "-c", "while true; do echo am home; sleep 1; done"]

# commands:
# kubectl apply -f pod.yml
# kubectl get pods
# kubectl get pods -o wide
# kubectl describe pod flipkart
# kubectl logs -f flipkart -c login
# kubectl logs -f flipkart -c home
# kubectl delete -f pod.yml
# =============================================

---
apiVersion: v1
kind: Pod
metadata:
  name: zomato
spec:
  containers:
    - name: home
      image: httpd
      ports:
        - containerPort: 80

# commands:
# kubectl apply -f pod.yml
# kubectl get pods
# kubectl get pods -o wide
# kubectl describe pod flipkart
# curl 10.40.0.1:80
# kubectl logs zomato
# kubectl delete -f pod.yml
# =============================================

---
apiVersion: v1
kind: Pod
metadata:
  name: flipkart
  labels:
    batch: ghatak
    env: dev
spec:
  containers:
    - name: login
      image: httpd
      ports:
        - containerPort: 80

# commands:
# kubectl apply -f pod.yml
# kubectl get pods --show-labels
# kubectl get pods -l batch=ghatak
# kubectl get pods -l batch!=ghatak
# kubectl label pod flipkart team=jsp
# kubectl get pods --show-labels
# kubectl get pods -l team=jsp
# kubectl get pods -l team!=jsp
# kubectl delete -f pod.yml
# =============================================

# cat ns.yml
---
apiVersion: v1
kind: Namespace
metadata:
  name: dev

# cat pod.yml
---
apiVersion: v1
kind: Pod
metadata:
  name: flipkart
  labels:
    batch: ghatak
    env: dev
spec:
  containers:
    - name: login
      image: httpd
      ports:
        - containerPort: 80
# commands
# kubectl apply -f ns.yml
# kubectl apply -f pod.yml -n dev
# kubectl get pods -n dev
# kubectl delete -f pod.yml -n dev
# =============================================

# cat ns.yml
---
apiVersion: v1
kind: Namespace
metadata:
  name: dev
# cat pod.yml
---
apiVersion: v1
kind: Pod
metadata:
  name: flipkart
  namespace: dev
  labels:
    batch: ghatak
    env: dev
spec:
  containers:
    - name: login
      image: httpd
      ports:
        - containerPort: 80

# commands
# kubectl apply -f ns.yml
# kubectl apply -f pod.yml 
# kubectl get pods -n dev
# kubectl delete -f pod.yml 

# =============================================

# cat rc.yml
---
apiVersion: v1
kind: ReplicationController
metadata:
  name: flipkart
spec:
  replicas: 2
  selector:
    env: dev
  template:
    metadata:
      name: httpd
      labels:
        env: dev
    spec:
      containers:
      - name: login
        image: httpd
        ports:
        - containerPort: 80

# command:
# kubectl apply -f rc.yml
# kubectl get rc
# kubectl get pods
# kubectl delete pod flipkart-6fvtg
# kubectl scale --replicas=4 rc flipkart
# kubectl scale --replicas=1 rc flipkart
# kubectl delete -f rc.yml

# ============================================
# cat rs.yml
---
apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: flipkart
  labels:
    app: webapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ghatak
  template:
    metadata:
      labels:
        app: ghatak
    spec:
      containers:
      - name: login
        image: httpd
        ports:
          - containerPort: 80

# command:
# kubectl apply -f rs.yml
# kubectl get pods
# kubectl get rs
# kubectl delete pod flipkart-9xf6r
# kubectl get pods
# kubectl delete -f rs.yml

# ================================================

# cat deploy.yml
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flipkart
  labels:
    app: webapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ghatak
  template:
    metadata:
      labels:
        app: ghatak
    spec:
      containers:
      - name: login
        image: ubuntu
        command: ["/bin/bash", "-c", "while true; do echo login v1.1; sleep 2; done"] # changto v1.2

# commands:
# kubectl apply -f deploy.yml
# kubectl get all
# kubectl exec -it flipkart-5ccf6f7dd-57qsh -- cat /etc/os-release
# kubectl logs -f flipkart-5ccf6f7dd-57qsh
# - change the script to v1.2
# kubectl apply -f deploy.yml
# kubectl get all
# kubectl logs -f flipkart-8d5f5488f-5jsh6
# kubectl rollout status deploy flipkart
# kubectl rollout undo deploy flipkart
# kubectl get pods
# kubectl logs -f flipkart-5ccf6f7dd-cq5h6
# kubectl delete -f deploy.yml

# ==========================================================

# cat deploy.yml
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flipkart
  labels:
    app: webapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ghatak
  template:
    metadata:
      labels:
        app: ghatak
    spec:
      containers:
      - name: login
        image: httpd
        ports:
          - containerPort: 80

# cat svc.yml
---
apiVersion: v1
kind: Service
metadata:
  name: flipkartsvc
spec:
  selector:
    app: ghatak
  ports:
    - name: sample
      port: 80
      targetPort: 80
      nodePort: 30080 # no nodeport for ClusterIP
  type: NodePort # ClusterIP

# =================================================

## Kube Deployment
# cat deploy.yml
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flipkart
  labels:
    app: webapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ghatak
  template:
    metadata:
      labels:
        app: ghatak
    spec:
      containers:
      - name: login
        image: sakit333/loan_pre_ml:latest
        ports:
          - containerPort: 5000

---
apiVersion: v1
kind: Service
metadata:
  name: flipkartsvc
spec:
  selector:
    app: ghatak
  ports:
    - name: sample
      port: 80
      targetPort: 5000
      nodePort: 30080
  type: NodePort
